@import "../../styles/colors";

button {
  display: inline-flex;
  padding: 11px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  background: $blue-400;
  border: 1px solid $blue-700;

  color: var(--alias-white, #fff);
  text-align: center;
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &.primary {
    background: $blue-400;
    border: 1px solid $blue-700;
  }

  &.secondary {
    background: $gray-100;
    border: 1px solid $gray-200;
    color: $text-color;
  }
}
