:host {
  background: #ffffff;
  border: 1px solid #e4e8f3;

  min-width: 300px;

  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  padding: 24px;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
